<footer>
  <p class="footer-child">connect with us to receive updates!</p>
  <div class="icon-container">
    <a class="social-icon-link" href="https://www.facebook.com/groups/sheridancc/" target="_blank"><img class="social-icon" src="/assets/images/facebook_logo.png" height="40" width="40" alt="facebook logo" /></a>
    <a class="social-icon-link" href="https://www.instagram.com/sheridan.scf/?hl=en" target="_blank"><img class="social-icon" src="/assets/images/instagram_logo.png" height="40" width="40" alt="instagram logo" /></a>
    <a class="social-icon-link" href="https://discord.gg/jW33Fsm6hM" target="_blank"><img
      class="social-icon" src="/assets/images/discord-mascot-dark.png" height="40" width="40" alt="discord logo" /></a>
  <a class="social-icon-link" href="https://sheridancollege.campuslabs.ca/engage/organization/scf" target="_blank"><img
      class="social-icon" src="/assets/images/ssu.png" height="30" width="130" alt="ssu logo" /></a>
  </div>
</footer>