<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jesus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/shared-styles.css">
    <link rel="stylesheet" href="/assets/css/jesus.css">
    <link rel="stylesheet" href="/assets/css/jesus-responsive.css">
    {% include favicons.html %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand navbar-title" href="/index.html">
          <img class="logo" src="../assets/images/jesus_logo.png" alt="logo">
        </a>
        <a class="navbar-brand" href="/index.html">
          <img src="../assets/images/jesus_logo_abbr.png" class="hidden-logo" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="/content/jesus.html" class="nav-item nav-link active">Jesus</a>
            <a href="/" class="nav-item nav-link">About</a>
            <a href="/content/doctrine.html" class="nav-item nav-link">Doctrine</a>
            <a href="/content/contact.html" class="nav-item nav-link">Contact</a>
            <a href="/content/chinese_fellowship.html" class="nav-item nav-link">中文团契</a>
          </div>
        </div>
      </nav>
    </header>
    <main>
      {{content}}
    </main>
    {% include footer.html %}
    {% include bootstrap_scripts.html %}
  </body>
</html>